* {
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 2em auto;
    background-color: silver;
    background-image: url(../images/back2.jpg);
}

header {
    background-color: steelblue;
    text-align: center;
    border-radius: 0.8em;
    padding: 0.1em;
    margin-bottom: 1.5em;
}

form {
    background-color: steelblue;
    color: white;
    padding: 0.1em;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

legend {
    background-color: navy;
    color: white;
}

fieldset {
    margin: 1%;
}

div#identif {
    width: 100%;
}

div#personal {
    width: 100%;
}

div#otros {
    width: 50%;
    float: right;
}

label {
    line-height: 200%
}

#nombfec {
    width: 45%;
    float: left;
}

#direccion {
    width: 45%;
    float: right;
}

#aficiones {
    width: 45%;
    float: right;
}

div#radioboton {
    width: 70%;
    float: left
}

.cursos {
    float: left;
    width: 30%
}

#especialidades {
    float: left;
    margin-top: 2em;
}

div.seleccion {
    width: 30%;
    float: left
}

#date {
    width: 35%;
    float: right;
}

#condicion {
    width: 60%;
    float: left;
}

#resultado {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-width: 1em;
    border-style: solid;
    padding: 3%;
}

li:nth-child(2n) {
    background-color: gainsboro;
}

li:nth-child(2n+1) {
    background-color: silver;
}

footer {
    background-color: slategrey;
    text-align: center;
    font-family: cursive;
}

.oculto {
    display: none
}